## Importing Libraries & Data

In [5]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Creating path
path = r'C:\Users\johnn\Desktop\Instacart Basket Analysis'

In [7]:
# Importing products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [9]:
# Importing orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

## Consistency Check

In [10]:
# Creating dataframe
df_test = pd.DataFrame()

In [11]:
# Creating mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [13]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [16]:
# Checking for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [18]:
# Changing data type to string
df_test['mix'] = df_test['mix'].astype('str')

In [23]:
# Rechecking for mixed data type
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)
else: print (col, 'consistent')

mix consistent

## Identifying Missing Values

In [24]:
# Checking for missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [32]:
# Viewing missing values with subset of datafram
df_nan = df_prods[df_prods["product_name"].isnull() == True]

In [33]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

## Addressing Missing Values

In [34]:
# Descriptive statistics of the numerical columns
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [36]:
# Calculating the median value for each numerical column
df_prods.median()

TypeError: could not convert string to float: 'Chocolate Sandwich Cookies'

## Filtering Values

In [38]:
# Returning amount of rows and columns
df_prods.shape

(49693, 5)

In [39]:
# Creating dataframe without missing values (product_name column)
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [40]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [41]:
df_prods_clean.shape

(49677, 5)

In [45]:
# Verifying
print(49693 - 49677)

16

## Duplicates

In [46]:
# Checking for full duplicates in dataframe
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [47]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [48]:
df_prods_clean.shape

(49677, 5)

In [49]:
# Creating new dataframe without duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [50]:
df_prods_clean_no_dups

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [52]:
# Verifying
49677 - 49672

5

In [53]:
# Exporting
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

## Task 4.5

## Step 1

In [54]:
# Complete

## Step 2

In [55]:
# Descriptive analysis
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [56]:
# Descriptive analysis
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [57]:
# Max value looks off (prices), filtering
df_prods_clean_no_dups.loc[df_prods_clean_no_dups['prices'] == 99999.000000]

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

## Step 3

In [63]:
# Checking for mixed data types
df_ords.dtypes

Unnamed: 0                  int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [68]:
# Checking for mixed data types
obj_cols = df_ords.select_dtypes(include='object').columns
for col in obj_cols:
    if df_ords[col].apply(type).nunique() > 1:
        print(f"{col} Column has mixed data types.")

## Step 4

In [65]:
# None found

## Step 5

In [69]:
# Checking for missing values
if df_ords.isnull().sum().any():
    print("There are missing values in the dataframe.")
else:
    print("There are no missing values in the dataframe.")

There are missing values in the dataframe.

In [70]:
missing_values = df_ords.isnull().sum()
print(missing_values)

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [71]:
# Dropping unnamed column, creating subset for missing values and viewing subset
df_ords = df_ords.drop(columns = ['Unnamed: 0'])
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]
df_ords_nan

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [78]:
df_ords.loc[df_ords['order_number'] == 1, 'days_since_prior_order'].isnull().sum()

206209

In [79]:
df_ords.loc[df_ords['order_number'] == 2, 'days_since_prior_order'].isnull().sum()

0

In [80]:
df_ords.loc[df_ords['order_number'] == 3, 'days_since_prior_order'].isnull().sum()

0

In [81]:
# With the above examples we can see that if order_number is equal to 1, the days_since_prior_order will display "NaN".
# This makes sense as the first order for users can't have prior orders.

## Step 6

In [82]:
# No changes needed, however, the "NaN" could be renamed for ease of understanding.

# df_ords_clean = df_ords
# df_ords_clean['new_customer'] = df_ords['days_since_prior_order'].isnull() == True
# df_ords_clean

## Step 7

In [88]:
# Checking for duplicates
df_ords_dups = df_ords[df_ords.duplicated()]

if not df_ords_dups.empty:
    print("Duplicates found.:")
    print(df_ords_dups)
else:
    print("No duplicates found.")

No duplicates found.

## Step 8

In [89]:
# No duplicates found, no duplicates to address

## Step 9

In [91]:
# Exporting df_prods_clean_no_dups
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [92]:
# Exporting df_ords
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))