# Exercise 4.6 - B

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Setting path

path = r'C:\Users\johnn\Desktop\Instacart Basket Analysis'

In [3]:
# Importing products_checked.csv

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## Questions

In [4]:
# Question 3. Importing orders_products_combined.pkl

df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# Question 4. Checking import

df_ords_prods_combined.shape

(32434489, 11)

In [6]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [11]:
# Removing column 'eval_set' (not needed)

df_ords_prods_combined = df_ords_prods_combined.drop(columns=['eval_set'])

In [12]:
# Check

df_ords_prods_combined.shape

(32434489, 10)

In [13]:
# Check

df_ords_prods_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [14]:
# Question 5. Checking number of rows, columns

df_prods.shape

(49672, 6)

In [15]:
# Check

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Removing column 'Unnamed: 0' (not needed)

df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [17]:
# Check

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
# Question 6. Merging dataframes

df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [19]:
# Removing column '_merge'

df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [20]:
# Merging dataframes

df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [21]:
# Checking that the corresponding row is present in both dataframes

df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [22]:
# Checking number of rows, columns

df_merged.shape

(32404859, 14)

In [23]:
# Question 7. Exporting pickle

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))