# Exercise 4.7

## Importing Libraries

In [58]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [59]:
# Setting path

path = r'C:\Users\johnn\Desktop\Instacart Basket Analysis'

In [60]:
# Importing 'orders_products_merged.pkl'

orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))
print(path)

C:\Users\johnn\Desktop\Instacart Basket Analysis

## Exercise 4.7

In [61]:
# Check

orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [62]:
# Creating subset

df = orders_products_merged[:1000000]

In [63]:
# Check

df.shape

(1000000, 14)

### If-Statements with User-Defined Functions

In [64]:
# Defining function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [65]:
# Applying function

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\johnn\AppData\Local\Temp\ipykernel_18100\3329516987.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [66]:
# Counting occurrences of unique values (includes missing values, if any)

df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [67]:
# checking max value within the 'prices' column (in subset)

df['prices'].max()

14.8

### If-Statements with the loc() Function

In [68]:
# Applying loc() function to dataframe

In [69]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\johnn\AppData\Local\Temp\ipykernel_18100\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [70]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [71]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [72]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

### If-Statements with For-Loops

In [79]:
# Counting number of orders per day

In [73]:
orders_products_merged['order_day_of_week'].value_counts(dropna = False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [74]:
# Creating container 

result = []

In [76]:
# Adding elements

for value in orders_products_merged['order_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [77]:
orders_products_merged['busiest_day'] = result

In [78]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

#### Question 2: Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [81]:
# Counting number of orders per day 

orders_products_merged['order_day_of_week'].value_counts(dropna = False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [88]:
# Creating empty shell

result2 = []

In [89]:
# Adding new labels

for value in orders_products_merged['order_day_of_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [90]:
# Creating new column 'busiest_days'

orders_products_merged['busiest_days'] = result2

In [96]:
# Check
orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days

#### Question 3: Check the values of this new column for accuracy. Note any observations in markdown format.

In [99]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly days    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

#### Question 4: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [100]:
# Checking columns

orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days

In [101]:
# Creating dataframe with counts of orders per hour

counts = orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [102]:
counts

    hour   counts
0     10  2761760
1     11  2736140
2     14  2689136
3     15  2662144
4     13  2660954
5     12  2618532
6     16  2535202
7      9  2454203
8     17  2087654
9      8  1718118
10    18  1636502
11    19  1258305
12    20   976156
13     7   891054
14    21   795637
15    22   634225
16    23   402316
17     6   290493
18     0   218769
19     1   115700
20     5    87961
21     2    69375
22     4    53242
23     3    51281

In [103]:
# Creating list showing the percentiles for the value counts of the column 'order_hour_of_day'

orders = list(orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [104]:
orders

[272562.0, 1117230.5, 2556034.5]

##### Creating lists

In [116]:
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [117]:
average = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [118]:
most = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

##### Creating indexes

In [119]:
index_few = orders_products_merged['order_hour_of_day'].isin(few)

In [120]:
index_average = orders_products_merged['order_hour_of_day'].isin(average)

In [121]:
index_most = orders_products_merged['order_hour_of_day'].isin(most)

##### Creating new column with labels

In [122]:
orders_products_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [123]:
orders_products_merged.loc[index_average,'busiest_period_of_day'] = 'Average orders'

In [124]:
orders_products_merged.loc[index_most,'busiest_period_of_day'] = 'Most orders'

In [126]:
# Check 1

orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders

In [127]:
# Check 2

orders_products_merged.shape

(32404859, 17)

#### Question 5: Print the frequency for this new column.

In [128]:
# Printing frequency

orders_products_merged['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       16128666
Average orders    15679865
Fewest orders       596328
Name: count, dtype: int64

#### Question 7: Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [129]:
# Exporting pickle file

orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))