# Exercise 4.8

## Importing Libraries

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

## Importing Data

In [2]:
# Setting path

path = r'C:\Users\johnn\Desktop\Instacart Basket Analysis'

In [5]:
# Importing 'orders_products_merged_updated.pkl'

orders_products_merged_updated = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [11]:
# Data checks

print (path)
print('\n')
print(orders_products_merged_updated.head())
print('\n')
print(orders_products_merged_updated.shape)

C:\Users\johnn\Desktop\Instacart Basket Analysis


   order_id  user_id  order_number  order_day_of_week  order_hour_of_day
0   2539329        1             1                  2                  8  \
1   2398795        1             2                  3                  7
2    473747        1             3                  3                 12
3   2254736        1             4                  4                  7
4    431534        1             5                  4                 15

   days_since_prior_order  product_id  add_to_cart_order  reordered
0                     NaN         196                  1          0  \
1                    15.0         196                  1          1
2                    21.0         196                  1          1
3                    29.0         196                  1          1
4                    28.0         196                  1          1

  product_name  aisle_id  department_id  prices _merge     busiest_day
0         Soda        77              7     9.0   both  Regularly busy  \
1         Soda        77              7     9.0   both  Regularly busy
2         Soda        77              7     9.0   both  Regularly busy
3         Soda        77              7     9.0   both      Least busy
4         Soda        77              7     9.0   both      Least busy

     busiest_days busiest_period_of_day
0  Regularly days        Average orders
1    Slowest days        Average orders
2    Slowest days           Most orders
3    Slowest days        Average orders
4    Slowest days           Most orders


(32404859, 17)

In [12]:
# Creating subset

df = orders_products_merged_updated[:1000000]

In [13]:
# Data check 

df.shape

(1000000, 17)

In [15]:
# Data check

df.head(5)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders

## Grouping Data

In [16]:
# Grouping by column

df.groupby('product_name')

## Aggregating Data

In [17]:
# Split-apply-combine operation

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636